<h3><%= @song.title %>: </h3>
<p><%=@song.artist%></p>


<%=link_to "Songs Index", songs_path %>
<%=link_to "Edit Song", edit_song_path(@song) %>
<%=link_to "Delete Song", song_path(@song), method: :delete %>


